@charset "UTF-8";
/*----------------------- import /settings---------------------------------- */
/* --------------------------------------------------------------------------*/
/* Définition des variables de couleur */
/* définiton des font-face */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format("embedded-opentype"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype"), url("../font/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../font/Roboto-Condensed-webfont.eot");
  src: url("../font/Roboto-Condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Condensed-webfont.woff") format("woff"), url("../font/Roboto-Condensed-webfont.ttf") format("truetype"), url("../font/Roboto-Condensed-webfont.svg#Roboto-Condensed-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*----------------------- RESET CSS ---------------------------------------- */
/* --------------------------------------------------------------------------*/
/* line 43, ../scss/style.scss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
}

/* line 46, ../scss/style.scss */
footer, header, section, nav {
  display: block;
}

/* line 47, ../scss/style.scss */
body {
  line-height: 1.3;
}

/* line 48, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 49, ../scss/style.scss */
a, a:active, a:visited {
  text-decoration: none;
}

/* line 50, ../scss/style.scss */
html, body {
  height: 100%;
}

/*----------------------- CLASSES REUTILISABLES --------- ------------------ */
/* --------------------------------------------------------------------------*/
/* line 54, ../scss/style.scss */
.arrow:after, .active:after, #filterBox:after, #sort:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 63, ../scss/style.scss */
.shadow, #filterBox, .tab-content, #lieu-entete img, .contentResult article {
  -webkit-box-shadow: 5px 5px 10px 0px #d5d5d5;
  -moz-box-shadow: 5px 5px 10px 0px #d5d5d5;
  box-shadow: 5px 5px 10px 0px #d5d5d5;
}

/* line 64, ../scss/style.scss */
.textShadow, .ui-footer i:before, #menuSearch li.list i, #bigSymbols li i {
  text-shadow: 2px -2px 3px rgba(0, 0, 0, 0.3);
}

/* line 65, ../scss/style.scss */
.greyGradient, .active, #tabs {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #988f8f), color-stop(100%, #6c6565));
  background-image: -webkit-linear-gradient(#988f8f, #6c6565);
  background-image: -moz-linear-gradient(#988f8f, #6c6565);
  background-image: -o-linear-gradient(#988f8f, #6c6565);
  background-image: -ms-linear-gradient(#988f8f, #6c6565);
  background-image: linear-gradient(#988f8f, #6c6565);
}

/* line 66, ../scss/style.scss */
.blueGradient, .ui-header, #tabs .active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ec0bb), color-stop(50%, #3faea8), color-stop(100%, #29948d));
  background-image: -webkit-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -moz-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -o-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -ms-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: linear-gradient(#5ec0bb, #3faea8, #29948d);
}

/* line 67, ../scss/style.scss */
.taupeGradient, .ui-footer, .aroundMeTools, #filterBox .ui-navbar .number, .placeMenu {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #837878), color-stop(100%, #393131));
  background-image: -webkit-linear-gradient(#837878, #393131);
  background-image: -moz-linear-gradient(#837878, #393131);
  background-image: -o-linear-gradient(#837878, #393131);
  background-image: -ms-linear-gradient(#837878, #393131);
  background-image: linear-gradient(#837878, #393131);
}

/*---------------------------- ICONS ----------------------------------------- */
/*-----------------------------------------------------------------------------*/
/* line 73, ../scss/style.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  margin-right: 0.2em;
}

/* line 81, ../scss/style.scss */
.icon-star:before {
  content: '\2605';
}

/* line 82, ../scss/style.scss */
.icon-layout:before {
  content: '\268f';
}

/* line 83, ../scss/style.scss */
.icon-menu:before {
  content: '\2630';
}

/* line 84, ../scss/style.scss */
.icon-cog:before {
  content: '\2699';
}

/* line 85, ../scss/style.scss */
.icon-mail:before {
  content: '\2709';
}

/* line 86, ../scss/style.scss */
.icon-pencil:before {
  content: '\270e';
}

/* line 87, ../scss/style.scss */
.icon-arrow-combo:before {
  content: '\e74f';
}

/* line 88, ../scss/style.scss */
.icon-direction:before {
  content: '\27a2';
}

/* line 89, ../scss/style.scss */
.icon-forward:before {
  content: '\27a6';
  color: white;
  background-color: #41afa9;
  padding: 3px 10px;
}

/* line 90, ../scss/style.scss */
.icon-list:before {
  content: '\e005';
}

/* line 91, ../scss/style.scss */
.icon-minus-circled:before {
  content: '\2796';
  color: #41afa9;
  font-size: 1.5em;
}

/* line 92, ../scss/style.scss */
.icon-help-circled:before {
  content: '\e704';
  color: #41afa9;
  font-size: 1.3em;
  margin-right: 1px;
}

/* line 93, ../scss/style.scss */
.icon-info-circled:before {
  content: '\e705';
  color: #41afa9;
  font-size: 1.3em;
  margin: -5px 1px 0 0;
}

/* line 94, ../scss/style.scss */
.icon-tag:before {
  content: '\e70c';
}

/* line 95, ../scss/style.scss */
.icon-comment:before {
  content: '\e718';
}

/* line 96, ../scss/style.scss */
.icon-address:before {
  content: '\e723';
}

/* line 97, ../scss/style.scss */
.icon-location:before {
  content: '\e724';
}

/* line 98, ../scss/style.scss */
.icon-map:before {
  content: '\e727';
}

/* line 99, ../scss/style.scss */
.icon-twitter:before {
  content: '\f309';
  color: #28aae1;
}

/* line 100, ../scss/style.scss */
.icon-facebook:before {
  content: '\f30c';
  color: #3b5998;
}

/* line 101, ../scss/style.scss */
.icon-picture:before {
  content: '\f304';
}

/* line 102, ../scss/style.scss */
.icon-user:before {
  content: '\f464';
}

/* line 103, ../scss/style.scss */
.icon-doc-text:before {
  content: '\f4c4';
}

/* line 104, ../scss/style.scss */
.icon-search:before {
  content: '\f50d';
}

/* line 105, ../scss/style.scss */
.icon-clock:before {
  content: '\f554';
}

/*------------------------OSSATURE--------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* line 109, ../scss/style.scss */
body {
  background: url(../img/pattern.jpg);
  color: #5b5050;
  font-family: arial;
  font-size: 12px;
}

/* line 113, ../scss/style.scss */
a {
  color: #41afa9;
}

/* ----------- HEADER  ----------------- */
/* line 116, ../scss/style.scss */
.ui-header {
  border-bottom: 2px solid #2e847f;
}

/* line 121, ../scss/style.scss */
.ui-header a[data-rel='back'] {
  background: url(../img/back.png) no-repeat;
  height: 35px;
  z-index: 1000px;
}

/* ------------- FOOTER -------------- */
/* line 130, ../scss/style.scss */
.ui-footer span {
  text-align: center;
}
/* line 131, ../scss/style.scss */
.ui-footer i {
  color: #41afa9;
  font-size: 2.5em;
}

/* line 141, ../scss/style.scss */
.active:after {
  bottom: 100%;
  border-bottom-color: #988f8f;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
/* line 148, ../scss/style.scss */
.active i:before {
  color: #5b5050;
}

/* ------------- CONTENT --------------*/
/* line 152, ../scss/style.scss */
.ui-content {
  min-height: 380px;
}

/* line 154, ../scss/style.scss */
h1, h2, h3 {
  font-family: 'roboto';
  font-weight: normal;
}

/* line 159, ../scss/style.scss */
h1 {
  color: #5b5050;
}

/* line 160, ../scss/style.scss */
h2 {
  color: #41afa9;
  border-bottom: 1px solid #5b5050;
  font-size: 17px;
  line-height: 18px;
}

/* line 161, ../scss/style.scss */
h3 {
  font-size: 18px;
  border-bottom: 1px solid #41afa9;
  margin-bottom: 5px;
}

/* ----------------------------- AROUND ME -------------------------------------*/
/* ----------------------------------------------------------------------------- */
/* line 165, ../scss/style.scss */
.aroundMeTools {
  width: 100%;
  margin-top: -1px;
  position: fixed;
  z-index: 1000;
}
/* line 171, ../scss/style.scss */
.aroundMeTools i {
  padding: 5px;
}
/* line 172, ../scss/style.scss */
.aroundMeTools i:before {
  color: #41afa9;
  font-size: 25px;
  margin-left: 15px;
}
/* line 173, ../scss/style.scss */
.aroundMeTools #kms {
  display: none;
}
/* line 174, ../scss/style.scss */
.aroundMeTools .ui-slider {
  background-color: #988f8f;
  border-radius: 10px;
  float: right;
  margin-top: 7px;
  width: 20%;
}
/* line 175, ../scss/style.scss */
.aroundMeTools .ui-slider-bg {
  background-color: #41afa9;
  border-radius: 10px;
}
/* line 176, ../scss/style.scss */
.aroundMeTools span {
  float: right;
  margin-top: 7px;
  color: #e5e5e5;
}

/* line 179, ../scss/style.scss */
#filterBox.visible, #sort.visible {
  display: block;
}

/* line 180, ../scss/style.scss */
#filterBox, #sort {
  display: none;
  background-color: #41afa9;
  position: absolute;
  z-index: 10;
}
/* line 185, ../scss/style.scss */
#filterBox:after, #sort:after {
  bottom: 100%;
  border-width: 10px;
  margin-left: -10px;
}

/* line 191, ../scss/style.scss */
#filterBox {
  width: 350px;
  top: 80px;
  left: 15px;
}
/* line 195, ../scss/style.scss */
#filterBox:after {
  border-bottom-color: white;
  left: 5%;
}
/* line 196, ../scss/style.scss */
#filterBox .ui-navbar {
  background-color: white;
}
/* line 198, ../scss/style.scss */
#filterBox .ui-navbar a {
  color: #5b5050;
  padding: 0px;
  display: inline-block;
}
/* line 200, ../scss/style.scss */
#filterBox .ui-navbar a.active2 {
  color: #41afa9;
}
/* line 203, ../scss/style.scss */
#filterBox .ui-navbar .number {
  color: white;
  padding: 2px 4px;
  font-size: 10px;
  margin-left: -5px;
  border-radius: 5px;
}
/* line 213, ../scss/style.scss */
#filterBox section {
  background-color: #41afa9;
  padding-left: 10px;
}
/* line 216, ../scss/style.scss */
#filterBox section li {
  display: inline-block;
  width: 45%;
  color: white;
}
/* line 221, ../scss/style.scss */
#filterBox section label span {
  font-size: 13px;
  margin-left: -5px;
}

/* line 225, ../scss/style.scss */
input[type="checkbox"] + label::before {
  width: 1.5em;
  height: 1.5em;
  border-radius: 5px;
}

/* line 230, ../scss/style.scss */
input[type="checkbox"]:checked + label span.check::before {
  content: '';
  position: absolute;
  width: 0.4em;
  height: 0.9em;
  margin-left: -20px;
  margin-top: -5px;
  border-bottom: 0.3em solid #988f8f;
  border-right: 0.3em solid #988f8f;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 239, ../scss/style.scss */
input[type="checkbox"], input[type="radio"] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 243, ../scss/style.scss */
input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  content: '';
  display: inline-block;
  position: absolute;
  cursor: pointer;
  vertical-align: middle;
  background: #e5e5e5;
}

/* line 250, ../scss/style.scss */
input[type="radio"] + label::before {
  width: 0.9em;
  height: 0.9em;
  border-radius: 0.8em;
  margin-top: 5px;
}

/* line 255, ../scss/style.scss */
input[type="radio"]:checked + label span.check::before {
  content: '';
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background: #988f8f;
  border-radius: 0.8em;
  margin: 8px 0 0 -42px;
}

/*------------------------FICHE LIEU--------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* barre du haut-menu */
/* line 265, ../scss/style.scss */
.placeMenu {
  width: 100%;
  margin-top: -1px;
  margin-bottom: 150px;
  position: fixed;
  z-index: 1000;
}
/* line 273, ../scss/style.scss */
.placeMenu i {
  font-size: 1.8em;
}
/* line 274, ../scss/style.scss */
.placeMenu span {
  text-align: center;
}
/* line 275, ../scss/style.scss */
.placeMenu .active:after {
  top: 100%;
  border-top: 10px solid #6c6565;
  border-bottom: 0;
}

/*------------------------------DESCRIPTION----------------------------------*/
/* tabs */
/* line 283, ../scss/style.scss */
.tab-content {
  background-color: white;
  padding: 10px;
}

/* line 288, ../scss/style.scss */
#tabs {
  margin-bottom: 15px;
  /* tabs active */
}
/* line 292, ../scss/style.scss */
#tabs .active {
  color: #5b5050;
}
/* line 295, ../scss/style.scss */
#tabs .active:after {
  top: 100%;
  border-top: 10px solid #29948d;
  border-bottom: 0;
}
/* line 300, ../scss/style.scss */
#tabs a {
  color: white;
  font-family: 'roboto';
}
/* line 301, ../scss/style.scss */
#tabs span {
  text-align: center;
}

/* line 304, ../scss/style.scss */
.lieu {
  margin-top: 45px;
}

/* line 307, ../scss/style.scss */
#lieu-entete img {
  border: 5px solid #fff;
  max-width: 300px;
  max-height: 240px;
}
/* line 311, ../scss/style.scss */
#lieu-entete h2 {
  width: 200%;
}

/* line 314, ../scss/style.scss */
#lieu-presentation {
  padding-left: 15px;
}
/* line 316, ../scss/style.scss */
#lieu-presentation i {
  font-size: 25px;
  margin-right: 15px;
}
/* line 317, ../scss/style.scss */
#lieu-presentation .icon-facebook:before {
  margin-top: 15px;
}

/* line 320, ../scss/style.scss */
#lieu-entete {
  margin-bottom: 15px;
}

/* line 322, ../scss/style.scss */
#lieu-infos p {
  margin-top: 5px;
}
/* line 323, ../scss/style.scss */
#lieu-infos span {
  color: #41afa9;
  font-size: 14px;
  font-family: 'roboto';
}

/* line 327, ../scss/style.scss */
#commentaires article {
  background-color: #e5e5e5;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-left: 5px solid #41afa9;
}
/* line 331, ../scss/style.scss */
#commentaires p {
  margin-top: 5px;
}
/* line 332, ../scss/style.scss */
#commentaires span {
  color: #41afa9;
  font-weight: bold;
}
/* line 333, ../scss/style.scss */
#commentaires .infos, #commentaires .rank {
  display: inline-block;
}
/* line 334, ../scss/style.scss */
#commentaires .rank {
  float: right;
}
/* line 335, ../scss/style.scss */
#commentaires .icon-star {
  font-size: 1em;
}

/* line 338, ../scss/style.scss */
#lieu-note {
  margin-top: 5px;
}
/* line 340, ../scss/style.scss */
#lieu-note i {
  color: #41afa9;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}
/* line 344, ../scss/style.scss */
#lieu-note i.grey {
  color: #988f8f;
}

/*---------------------------- DIRECTIONS----------------------------------*/
/* line 349, ../scss/style.scss */
.directions #tabs {
  margin-top: 15px;
}

/* line 350, ../scss/style.scss */
.directions .tab-content {
  margin-top: 15px;
  color: white;
  padding: 0;
}

/* line 351, ../scss/style.scss */
#map-directions {
  border: 5px solid white;
  width: 98%;
  height: 100px;
  padding: 0 2px;
}

/* line 357, ../scss/style.scss */
.adp-warnbox {
  display: none;
}

/* line 358, ../scss/style.scss */
.adp-placemark {
  background-color: #5b5050;
  color: #41afa9;
  font-weight: bold;
  margin: 0;
}

/* line 359, ../scss/style.scss */
.adp-summary {
  background-color: white;
  color: #5b5050;
}

/* line 360, ../scss/style.scss */
.adp-directions {
  background-color: #988f8f;
  width: 100%;
}

/* line 361, ../scss/style.scss */
.adp-legal {
  font-size: 10px;
  padding: 0 5px;
  margin-top: 0;
  background-color: #d5d5d5;
}

/* line 364, ../scss/style.scss */
.adp-details {
  color: #5b5050;
}

/* line 365, ../scss/style.scss */
.adp-agencies {
  display: none;
}

/*---------------------------- COMMENTAIRES -------------------------------*/
/* line 369, ../scss/style.scss */
#placeComment h2 {
  margin-bottom: 10px;
}
/* line 370, ../scss/style.scss */
#placeComment textarea {
  border-style: none;
  margin: 20px 0;
}
/* line 371, ../scss/style.scss */
#placeComment .ui-input-text {
  font-family: arial;
  color: #5b5050;
  font-size: 12px;
}
/* line 372, ../scss/style.scss */
#placeComment .select {
  width: 15%;
  padding: 0;
  text-align: center;
}
/* line 373, ../scss/style.scss */
#placeComment .ui-select {
  padding: 0;
}

/* line 376, ../scss/style.scss */
.button-param, #button-post-comm, #button-connect-comm {
  display: block;
  height: 23px;
  width: 130px;
  background-color: #41afa9;
  margin-top: 7px;
  text-align: center;
}
/* line 381, ../scss/style.scss */
.button-param span, #button-post-comm span, #button-connect-comm span {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  font-family: 'roboto';
}
/* line 386, ../scss/style.scss */
.button-param i.ui-block-a, #button-post-comm i.ui-block-a, #button-connect-comm i.ui-block-a {
  padding: 2px 0px 1px 4px;
  height: 23px;
  width: 24px;
  color: white;
  background-color: #5b5050;
  font-size: 1.3em;
}

/*----------------------------- FAVORIS/PARCOURS ---------------------------*/
/* line 396, ../scss/style.scss */
.button-fav .icon-star:before, .button-fav .icon-pencil:before {
  display: inline-block;
  color: white;
  background-color: #5b5050;
  font-size: 14px;
  padding: 6px;
}

/* line 403, ../scss/style.scss */
.button-fav {
  display: inline-block;
  font: 16px roboto;
  color: #e5e5e5;
  background-color: #41afa9;
  margin: 12px 10px;
  cursor: pointer;
}

/* line 411, ../scss/style.scss */
.button-fav-text {
  display: inline-block;
  width: 60px;
  padding: 5px 20px;
}

/* line 418, ../scss/style.scss */
#lieu-parcours [data-role="fieldcontain"] {
  width: 180px;
  height: 20px;
  float: left;
}
/* line 422, ../scss/style.scss */
#lieu-parcours .ui-btn-inner {
  padding: 0;
}
/* line 423, ../scss/style.scss */
#lieu-parcours .ui-select {
  width: 100%;
}
/* line 424, ../scss/style.scss */
#lieu-parcours .ui-btn-text {
  background: white;
  padding: 5px;
  border-radius: 5px;
}
/* line 429, ../scss/style.scss */
#lieu-parcours #textinput {
  font-size: 12px;
  width: 180px;
}

/*------------------------------ RECHERCHES --------------------------------*/
/*--------------------------------------------------------------------------*/
/*------------------------------MENU RECHERCHE------------------------------*/
/* line 436, ../scss/style.scss */
#searchBar {
  width: 75%;
  margin: 5px auto 10px auto;
}
/* line 439, ../scss/style.scss */
#searchBar i {
  width: 15%;
  padding: 2px;
  float: right;
  background-color: #5b5050;
  font-size: 1.9em;
  text-align: center;
  color: white;
}
/* line 448, ../scss/style.scss */
#searchBar input {
  width: 85%;
  margin: 0px;
  color: #5b5050;
}
/* line 453, ../scss/style.scss */
#searchBar input, #searchBar #autocompletion {
  padding: 5px;
  border: 1px solid #b8bcbf;
  border-radius: 3px;
  background-color: white;
}
/* line 459, ../scss/style.scss */
#searchBar #autocompletion {
  position: absolute;
  z-index: 10;
  width: 55%;
  display: none;
}
/* line 464, ../scss/style.scss */
#searchBar #autocompletion li {
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
}
/* line 468, ../scss/style.scss */
#searchBar #autocompletion li.last {
  border: none;
}

/* line 474, ../scss/style.scss */
#menuSearch li.list {
  background-color: #5b5050;
  float: left;
  width: 42%;
  height: 135px;
  margin: 15px 6% 0 3%;
  font-variant: small-caps;
}
/* line 481, ../scss/style.scss */
#menuSearch li.list i {
  background-color: #41afa9;
  width: 100%;
  margin: 0 0 2px 0;
  font-size: 4.5em;
  text-align: center;
}
/* line 489, ../scss/style.scss */
#menuSearch li.list a {
  display: block;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
/* line 496, ../scss/style.scss */
#menuSearch li.pair {
  margin-right: 0;
}

/*----------------------------------- RESULTATS (+parcours)----------------------------*/
/* line 500, ../scss/style.scss */
.ui-select {
  background-color: white;
  padding: 1px 5px;
  width: 70%;
  display: inline-block;
}

/* line 506, ../scss/style.scss */
.headerResult {
  margin-top: -10px;
}
/* line 508, ../scss/style.scss */
.headerResult i:before {
  color: #988f8f;
  font-size: 24px;
}
/* line 509, ../scss/style.scss */
.headerResult .activeIcon:before {
  color: #5b5050;
}
/* line 510, ../scss/style.scss */
.headerResult .select {
  width: 60%;
  margin-left: 5%;
  margin-right: 3%;
}
/* line 511, ../scss/style.scss */
.headerResult .select.hide {
  display: none;
}
/* line 512, ../scss/style.scss */
.headerResult .ui-btn-inner, .headerResult .ui-btn-corner-all {
  width: 100%;
  padding: 0;
}
/* line 513, ../scss/style.scss */
.headerResult #iconControl {
  float: right;
}
/* line 514, ../scss/style.scss */
.headerResult p {
  color: #41afa9;
  margin-top: 10px;
}
/* line 515, ../scss/style.scss */
.headerResult p.hide {
  position: absolute;
  top: 25px;
}
/* line 516, ../scss/style.scss */
.headerResult div {
  display: inline-block;
}

/* line 519, ../scss/style.scss */
.select i:before {
  background-color: #41afa9;
  color: white;
  width: 25px;
  text-align: center;
  font-size: 1em;
  padding: 10px 0 8px 0;
}

/* line 524, ../scss/style.scss */
.select i {
  margin-left: -2px;
  display: inline-block;
}

/* line 526, ../scss/style.scss */
#headerSearch #searchBar {
  width: 60%;
  margin: 0 2%;
}
/* line 528, ../scss/style.scss */
#headerSearch #searchBar i, #headerSearch #searchBar i:before {
  font-size: 1.2em;
  color: white;
  padding: 3px;
}
/* line 529, ../scss/style.scss */
#headerSearch #searchBar #autocompletion {
  width: 56%;
}

/* line 532, ../scss/style.scss */
#sort {
  position: absolute;
  top: 38px;
  left: 0px;
  width: 250px;
  padding-left: 10px;
}
/* line 537, ../scss/style.scss */
#sort:after {
  border-bottom-color: #41afa9;
  left: 10%;
}
/* line 538, ../scss/style.scss */
#sort label {
  color: white;
}
/* line 539, ../scss/style.scss */
#sort li {
  margin-bottom: 15px;
}
/* line 540, ../scss/style.scss */
#sort .cat {
  font-size: 12px;
  margin-left: -20px;
}

/* line 543, ../scss/style.scss */
.contentResult {
  margin-top: 15px;
}
/* line 544, ../scss/style.scss */
.contentResult.hide {
  margin-top: 0;
}
/* line 546, ../scss/style.scss */
.contentResult article {
  background-color: white;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
/* line 552, ../scss/style.scss */
.contentResult article h2 {
  margin-bottom: 5px;
  margin-left: 140px;
}
/* line 553, ../scss/style.scss */
.contentResult article .icon-forward {
  right: 0px;
}
/* line 555, ../scss/style.scss */
.contentResult article.list {
  border-left: 10px solid #988f8f;
  padding: 10px;
}
/* line 557, ../scss/style.scss */
.contentResult article.list img {
  float: left;
  margin-right: 10px;
}
/* line 561, ../scss/style.scss */
.contentResult article.list .rank {
  left: 150px;
}
/* line 563, ../scss/style.scss */
.contentResult article.list .icon-forward, .contentResult article.list .rank {
  position: absolute;
  bottom: 8px;
}
/* line 565, ../scss/style.scss */
.contentResult article.grid {
  float: left;
  padding: 5px 5px 3px 5px;
  margin-right: 10px;
}
/* line 566, ../scss/style.scss */
.contentResult article.grid .rank, .contentResult article.grid p, .contentResult article.grid a h2 {
  display: none;
}
/* line 570, ../scss/style.scss */
.contentResult article.grid .icon-forward {
  position: absolute;
  bottom: 6px;
}
/* line 572, ../scss/style.scss */
.contentResult img {
  width: 131px;
  height: 105px;
}

/* line 575, ../scss/style.scss */
#contentSearch .icon-star, #commentaires .icon-star {
  color: #41afa9;
}
/* line 577, ../scss/style.scss */
#contentSearch .icon-star.grey, #commentaires .icon-star.grey {
  color: #988f8f;
}

/* line 580, ../scss/style.scss */
#contentSearch .icon-star {
  font-size: 1.5em;
}

/*-----------------------------------PARCOURS -------------------------------*/
/*---------------------------------------------------------------------------*/
/*----------------------------------- LISTE ---------------------------------*/
/* line 586, ../scss/style.scss */
.headerResult {
  min-height: 64px;
  position: relative;
}
/* line 589, ../scss/style.scss */
.headerResult #nbResultParcours {
  position: absolute;
  top: 40px;
}

/* line 592, ../scss/style.scss */
.contentResult .duration {
  position: absolute;
  bottom: 8px;
  left: 100px;
  color: #41afa9;
}

/*------------------------------------- PARCOURS MAP --------------------------*/
/* line 597, ../scss/style.scss */
#container-parcours {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 72%;
  min-height: 325px;
}

/* line 605, ../scss/style.scss */
#carroussel-parcours {
  position: absolute;
  left: 2%;
  bottom: 0px;
  width: 95%;
  overflow-y: hidden;
}

/* line 613, ../scss/style.scss */
#carroussel-parcours #container-carroussel {
  height: 100%;
}

/* line 617, ../scss/style.scss */
#carroussel-parcours .item-carroussel {
  position: relative;
  margin-right: 8px;
  display: inline-block;
  min-width: 100px;
}
/* line 622, ../scss/style.scss */
#carroussel-parcours .item-carroussel img {
  border: 4px solid green;
  width: 100px;
  max-height: 80px;
}
/* line 627, ../scss/style.scss */
#carroussel-parcours .item-carroussel i {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/*-------------------------------------- USER -------------------------------------*/
/*---------------------------------------------------------------------------------*/
/*------------------------------------- CONNEXION ---------------------------------*/
/* line 638, ../scss/style.scss */
#userAccount #messageError {
  display: none;
}

/* line 640, ../scss/style.scss */
.info-connection, #userParam input {
  background-color: white;
  border-style: none;
}

/* line 645, ../scss/style.scss */
#userAccount input {
  color: #5b5050;
}

/* line 647, ../scss/style.scss */
::-webkit-input-placeholder {
  font-style: italic;
  opacity: 0.5;
}

/* line 648, ../scss/style.scss */
:-moz-placeholder {
  font-style: italic;
  opacity: 0.5;
}

/* line 649, ../scss/style.scss */
::-moz-placeholder {
  font-style: italic;
  opacity: 0.5;
}

/* line 650, ../scss/style.scss */
:-ms-input-placeholder {
  font-style: italic;
  opacity: 0.5;
}

/* line 652, ../scss/style.scss */
#submitConnection a, #userParam a {
  display: block;
  height: 25px;
  padding: 5px;
  text-align: center;
  font-family: 'roboto';
  font-size: 1.5em;
  color: white;
  padding-top: 8px;
  margin-bottom: 10px;
  font-variant: small-caps;
}

/*--------------------------------- COMPTE UTILISATEUR ------------------------------*/
/* line 666, ../scss/style.scss */
#userAccount h2 {
  font-size: 2.4em;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* line 671, ../scss/style.scss */
#quickSymbols li {
  float: left;
  background-color: #988f8f;
  width: 28%;
  height: 30px;
  margin-right: 8%;
  margin-top: 20px;
  color: white;
  font-size: 2em;
  font-family: 'roboto';
  font-weight: normal;
  text-align: center;
}
/* line 682, ../scss/style.scss */
#quickSymbols li i {
  float: none;
  color: white;
  margin-left: 8px;
  margin-bottom: 22px;
}
/* line 688, ../scss/style.scss */
#quickSymbols li.symbol-favoris {
  background-color: #41afa9;
}
/* line 689, ../scss/style.scss */
#quickSymbols li.symbol-comments {
  margin-right: 0px;
  background-color: #5b5050;
}

/* line 692, ../scss/style.scss */
#bigSymbols li {
  background-color: #5b5050;
  float: left;
  width: 48%;
  height: 120px;
  margin-top: 20px;
  margin-right: 4%;
  font-variant: small-caps;
}
/* line 700, ../scss/style.scss */
#bigSymbols li a {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
/* line 707, ../scss/style.scss */
#bigSymbols li i {
  background-color: #41afa9;
  height: 94px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  color: white;
}
/* line 716, ../scss/style.scss */
#bigSymbols li i:before {
  color: white;
  font-size: 4em;
}
/* line 721, ../scss/style.scss */
#bigSymbols li.big-symbol-parcours {
  margin-right: 0px;
}

/*----------------------------- PARAMETRES COMPTE UTILISATEUR ---------------------*/
/* line 726, ../scss/style.scss */
#userParam h2 {
  margin-bottom: 5px;
}
/* line 727, ../scss/style.scss */
#userParam label {
  font-weight: bold;
  margin-bottom: 0px;
}
/* line 728, ../scss/style.scss */
#userParam input {
  margin-top: 3px;
  margin-bottom: 5px;
}
/* line 729, ../scss/style.scss */
#userParam a {
  margin-top: 10px;
}

/*------------------------------ FAVORIS -----------------------------------------*/
/* line 733, ../scss/style.scss */
#contentUserFav {
  margin-top: 0;
}
/* line 735, ../scss/style.scss */
#contentUserFav article + i {
  display: none;
}

/* line 737, ../scss/style.scss */
#headerUserFav {
  min-height: 40px;
}

/* line 739, ../scss/style.scss */
#contentUserFav.manageFav article + i, #contentUserFav.manageFav article + i:before {
  display: inline-block;
  margin: -25px 0 0 5px;
  padding: 5px;
  cursor: pointer;
}
/* line 743, ../scss/style.scss */
#contentUserFav.manageFav article {
  width: 90%;
  display: inline-block;
}

/*---------------------------------MEDIAS QUERIES POUR BUGS ----------------------*/
/*--------------------------------------------------------------------------------*/
/*------------- IPHONES MODE PORTRAIT----------*/
@media only screen and (max-width: 350px) {
  /* line 752, ../scss/style.scss */
  .contentResult .list img {
    width: 90px;
  }
  /* line 753, ../scss/style.scss */
  .contentResult .grid img {
    width: 115px;
  }
  /* line 754, ../scss/style.scss */
  .contentResult article.list .rank {
    left: 110px;
  }
  /* line 755, ../scss/style.scss */
  .contentResult article h2 {
    margin-left: 100px;
  }
}
/* ------------- DELETE FAV BUG --------------- */
@media only screen and (max-width: 430px) {
  /* line 760, ../scss/style.scss */
  #contentUserFav.manageFav article {
    width: 79%;
  }
}
@media only screen and (min-width:430px) and (max-width: 610px) {
  /* line 764, ../scss/style.scss */
  #contentUserFav.manageFav article {
    width: 85%;
  }
}
