@charset "UTF-8";
/*----------------------- import /settings---------------------------------- */
/* --------------------------------------------------------------------------*/
/* Définition des variables de couleur */
/* définiton des font-face */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format("embedded-opentype"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype"), url("../font/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../font/Roboto-Condensed-webfont.eot");
  src: url("../font/Roboto-Condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Condensed-webfont.woff") format("woff"), url("../font/Roboto-Condensed-webfont.ttf") format("truetype"), url("../font/Roboto-Condensed-webfont.svg#Roboto-Condensed-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*----------------------- RESET CSS ---------------------------------------- */
/* --------------------------------------------------------------------------*/
/* line 43, ../scss/style.scss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
}

/* line 46, ../scss/style.scss */
footer, header, section, nav {
  display: block;
}

/* line 47, ../scss/style.scss */
body {
  line-height: 1.3;
}

/* line 48, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 49, ../scss/style.scss */
a, a:active, a:visited {
  text-decoration: none;
}

/* line 50, ../scss/style.scss */
html, body {
  height: 100%;
}

/*----------------------- CLASSES REUTILISABLES --------- ------------------ */
/* --------------------------------------------------------------------------*/
/* line 54, ../scss/style.scss */
.arrow:after, .active:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 63, ../scss/style.scss */
.shadow {
  -webkit-box-shadow: 5px 5px 10px 0px #e5e5e5;
  -moz-box-shadow: 5px 5px 10px 0px #e5e5e5;
  box-shadow: 5px 5px 10px 0px #e5e5e5;
}

/* line 64, ../scss/style.scss */
.shadow2, .tab-content, #lieu-img, #contentSearch article {
  -webkit-box-shadow: 5px 5px 10px 0px #d5d5d5;
  -moz-box-shadow: 5px 5px 10px 0px #d5d5d5;
  box-shadow: 5px 5px 10px 0px #d5d5d5;
}

/* line 65, ../scss/style.scss */
.textShadow, .ui-footer i:before {
  text-shadow: 2px -2px 3px rgba(0, 0, 0, 0.3);
}

/* line 66, ../scss/style.scss */
.greyGradient, .active, #tabs {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #988f8f), color-stop(100%, #6c6565));
  background-image: -webkit-linear-gradient(#988f8f, #6c6565);
  background-image: -moz-linear-gradient(#988f8f, #6c6565);
  background-image: -o-linear-gradient(#988f8f, #6c6565);
  background-image: -ms-linear-gradient(#988f8f, #6c6565);
  background-image: linear-gradient(#988f8f, #6c6565);
}

/* line 67, ../scss/style.scss */
.blueGradient, .ui-header, #tabs .active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ec0bb), color-stop(50%, #3faea8), color-stop(100%, #29948d));
  background-image: -webkit-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -moz-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -o-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -ms-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: linear-gradient(#5ec0bb, #3faea8, #29948d);
}

/* line 68, ../scss/style.scss */
.taupeGradient, .ui-footer, .placeMenu {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #837878), color-stop(100%, #393131));
  background-image: -webkit-linear-gradient(#837878, #393131);
  background-image: -moz-linear-gradient(#837878, #393131);
  background-image: -o-linear-gradient(#837878, #393131);
  background-image: -ms-linear-gradient(#837878, #393131);
  background-image: linear-gradient(#837878, #393131);
}

/* line 69, ../scss/style.scss */
.bleu, a, .ui-footer i, h2, .lieu-infos-item {
  color: #41afa9;
}

/*---------------------------- ICONS ----------------------------------------- */
/*-----------------------------------------------------------------------------*/
/* line 75, ../scss/style.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  margin-right: 0.2em;
}

/* line 83, ../scss/style.scss */
.icon-star:before {
  content: '\2605';
}

/* line 84, ../scss/style.scss */
.icon-star-empty:before {
  content: '\2606';
}

/* line 85, ../scss/style.scss */
.icon-menu:before {
  content: '\2630';
}

/* line 86, ../scss/style.scss */
.icon-layout:before {
  content: '\268f';
}

/* line 87, ../scss/style.scss */
.icon-cog:before {
  content: '\2699';
}

/* line 88, ../scss/style.scss */
.icon-mail:before {
  content: '\2709';
}

/* line 89, ../scss/style.scss */
.icon-pencil:before {
  content: '\270e';
}

/* line 90, ../scss/style.scss */
.icon-direction:before {
  content: '\27a2';
}

/* line 91, ../scss/style.scss */
.icon-forward:before {
  content: '\27a6';
  color: white;
  background-color: #41afa9;
  padding: 3px 10px;
}

/* line 92, ../scss/style.scss */
.icon-list:before {
  content: '\e005';
}

/* line 93, ../scss/style.scss */
.icon-help-circled:before {
  content: '\e704';
  color: #41afa9;
  font-size: 1.3em;
  margin-right: 1px;
}

/* line 94, ../scss/style.scss */
.icon-info-circled:before {
  content: '\e705';
  color: #41afa9;
  font-size: 1.3em;
  margin: -5px 1px 0 0;
}

/* line 95, ../scss/style.scss */
.icon-tag:before {
  content: '\e70c';
}

/* line 96, ../scss/style.scss */
.icon-comment:before {
  content: '\e718';
}

/* line 97, ../scss/style.scss */
.icon-address:before {
  content: '\e723';
}

/* line 98, ../scss/style.scss */
.icon-location:before {
  content: '\e724';
}

/* line 99, ../scss/style.scss */
.icon-map:before {
  content: '\e727';
}

/* line 100, ../scss/style.scss */
.icon-twitter:before {
  content: '\f309';
  color: #28aae1;
}

/* line 101, ../scss/style.scss */
.icon-facebook:before {
  content: '\f30c';
  color: #3b5998;
}

/* line 102, ../scss/style.scss */
.icon-picture:before {
  content: '\f304';
}

/* line 103, ../scss/style.scss */
.icon-mic:before {
  content: '\f3a4';
}

/* line 104, ../scss/style.scss */
.icon-user:before {
  content: '\f464';
}

/* line 105, ../scss/style.scss */
.icon-doc-text:before {
  content: '\75';
}

/* line 106, ../scss/style.scss */
.icon-search:before {
  content: '\f50d';
}

/* line 107, ../scss/style.scss */
.icon-clock:before {
  content: '\f554';
}

/*------------------------OSSATURE--------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* line 111, ../scss/style.scss */
body {
  background: url(../img/pattern.jpg);
  color: #5b5050;
  font-family: arial;
  font-size: 12px;
}

/* ----------- HEADER  ----------------- */
/* line 119, ../scss/style.scss */
.ui-header {
  border-bottom: 2px solid #2e847f;
}

/* line 124, ../scss/style.scss */
.ui-header a[data-rel='back'] {
  background: url(../img/back.png) no-repeat;
  height: 35px;
  z-index: 1000px;
}

/* ------------- FOOTER -------------- */
/* line 133, ../scss/style.scss */
.ui-footer span {
  text-align: center;
}
/* line 134, ../scss/style.scss */
.ui-footer i {
  font-size: 2.5em;
}

/* line 144, ../scss/style.scss */
.active:after {
  bottom: 100%;
  border-bottom-color: #988f8f;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
/* line 151, ../scss/style.scss */
.active i:before {
  color: #5b5050;
}

/* ------------- CONTENT --------------*/
/* line 155, ../scss/style.scss */
h1, h2, h3 {
  font-family: 'roboto';
  font-weight: normal;
}

/* line 160, ../scss/style.scss */
h1 {
  color: #5b5050;
}

/* line 161, ../scss/style.scss */
h2 {
  border-bottom: 1px solid #5b5050;
  font-size: 17px;
  line-height: 18px;
}

/* line 162, ../scss/style.scss */
h3 {
  font-size: 18px;
  border-bottom: 1px solid #41afa9;
  margin-bottom: 5px;
}

/*------------------------FICHE LIEU--------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* barre du haut-menu */
/* line 167, ../scss/style.scss */
.placeMenu {
  width: 100%;
  margin-top: -1px;
  margin-bottom: 150px;
  position: fixed;
  z-index: 1000;
}
/* line 175, ../scss/style.scss */
.placeMenu i {
  font-size: 1.6em;
}
/* line 176, ../scss/style.scss */
.placeMenu span {
  text-align: center;
}
/* line 177, ../scss/style.scss */
.placeMenu .active:after {
  top: 100%;
  border-top: 10px solid #6c6565;
  border-bottom: 0;
}

/********* DESCRIPTION **************************/
/* tabs */
/* line 185, ../scss/style.scss */
.tab-content {
  background-color: white;
  padding: 10px;
}

/* line 190, ../scss/style.scss */
#tabs {
  margin-bottom: 15px;
  /* tabs active */
}
/* line 194, ../scss/style.scss */
#tabs .active {
  color: #5b5050;
}
/* line 197, ../scss/style.scss */
#tabs .active:after {
  top: 100%;
  border-top: 10px solid #29948d;
  border-bottom: 0;
}
/* line 202, ../scss/style.scss */
#tabs a {
  color: white;
  font-family: 'roboto';
}
/* line 203, ../scss/style.scss */
#tabs span {
  text-align: center;
}

/* classe pour que le contenu soit décalé en haut*/
/* line 207, ../scss/style.scss */
.lieu {
  margin-top: 45px;
}

/* infos lieu */
/* line 210, ../scss/style.scss */
#lieu-img {
  border: 5px solid #fff;
}

/* line 212, ../scss/style.scss */
#lieu-presentation {
  padding-left: 15px;
}
/* line 214, ../scss/style.scss */
#lieu-presentation i {
  font-size: 25px;
  margin-right: 15px;
}
/* line 215, ../scss/style.scss */
#lieu-presentation .icon-facebook:before {
  margin-top: 15px;
}

/* line 218, ../scss/style.scss */
#lieu-categories {
  font-size: 12px;
}

/* line 219, ../scss/style.scss */
#lieu-entete {
  margin-bottom: 15px;
}

/* line 220, ../scss/style.scss */
.lieu-infos-item {
  font-size: 14px;
  font-family: 'roboto';
}

/* line 223, ../scss/style.scss */
#lieu-infos p {
  margin-top: 5px;
}

/* line 225, ../scss/style.scss */
.lieu-commentaire {
  background-color: #e5e5e5;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-left: 5px solid #41afa9;
}

/* line 230, ../scss/style.scss */
.lieu-commentaire-content {
  margin-top: 5px;
}

/*********************** DIRECTIONS *****************************/
/* line 233, ../scss/style.scss */
.directions #tabs {
  margin-top: 15px;
}

/* line 234, ../scss/style.scss */
.directions .tab-content {
  margin-top: 15px;
  color: white;
  padding: 0;
}

/* line 235, ../scss/style.scss */
#map-directions {
  border: 5px solid white;
  width: 98%;
  height: 100px;
  padding: 0 2px;
}

/* line 241, ../scss/style.scss */
.adp-warnbox {
  display: none;
}

/* line 242, ../scss/style.scss */
.adp-placemark {
  background-color: #5b5050;
  color: #41afa9;
  font-weight: bold;
  margin: 0;
}

/* line 243, ../scss/style.scss */
.adp-summary {
  background-color: white;
  color: #5b5050;
}

/* line 244, ../scss/style.scss */
.adp-directions {
  background-color: #988f8f;
  width: 100%;
}

/* line 245, ../scss/style.scss */
.adp-legal {
  font-size: 10px;
  padding: 0 5px;
  margin-top: 0;
  background-color: #d5d5d5;
}

/* line 248, ../scss/style.scss */
.adp-details {
  color: #5b5050;
}

/* line 249, ../scss/style.scss */
.adp-agencies {
  display: none;
}

/************************ MENU RECHERCHE **************************/

#menuSearch div#searchBar {
	background-color : white;
}

#menuSearch input.search-bar {
	background-color: white;
	padding: 10px 5px;
	width: 85%;
	border-style : none;
	font-style : italic;
	margin-top : 0px;
	margin-bottom : 20px;
	color : darkgrey;
	font-size : 1.2em;
}

#menuSearch .ui-block-a {
	width : 15%;
	float : right;
	background-color : white;
	padding : 5px 3px;
	height : 100%;
	font-size : 1.8em;
	text-align : center;
	color : darkgrey;
}

#menuSearch div#autocompletion
{
	border-left: 8px solid #41afa9;
	background-color : white;
	min-height : 20px;
	min-width : 30px;
	position : absolute;
	top : 89px;
	left : 40px;
	z-index : 100;
	display : none;
	padding : 7px;
}

#menuSearch li.list {
	overflow: hidden;
	position: relative;
	margin-bottom: 0px;
	background-color: #e5e5e5;
	border-left: 10px solid #41afa9;
	margin-bottom : 5px;
}

#menuSearch li.list a {
	display : block;
	height : 100%;
	width : 100%;
	text-align : center;
	color : white;
	font-size : 1.2em;
	font-family: 'roboto';
	font-weight: normal;
	padding: 20px 20px 15px 0px;
	height : 20px;
}

/************************ RECHERCHES **************************/
/* line 252, ../scss/style.scss */
#headerSearch {
  margin-top: -10px;
}
/* line 254, ../scss/style.scss */
#headerSearch i:before {
  color: #988f8f;
  font-size: 24px;
}
/* line 255, ../scss/style.scss */
#headerSearch .activeIcon:before {
  color: #5b5050;
}
/* line 256, ../scss/style.scss */
#headerSearch .ui-select {
  background-color: white;
  padding: 1px 5px;
  width: 100%;
}
/* line 261, ../scss/style.scss */
#headerSearch .select {
  width: 55%;
  margin-left: 5%;
  margin-right: 5%;
}
/* line 262, ../scss/style.scss */
#headerSearch .ui-btn-inner, #headerSearch .ui-btn-corner-all {
  width: 100%;
  padding: 0;
}
/* line 263, ../scss/style.scss */
#headerSearch #iconControl {
  float: right;
}
/* line 264, ../scss/style.scss */
#headerSearch p {
  color: #41afa9;
  margin-top: 10px;
}
/* line 265, ../scss/style.scss */
#headerSearch div {
  display: inline-block;
}

/* line 268, ../scss/style.scss */
#contentSearch {
  margin-top: 15px;
}
/* line 270, ../scss/style.scss */
#contentSearch article {
  background-color: white;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
/* line 276, ../scss/style.scss */
#contentSearch article h2 {
  margin-bottom: 5px;
}
/* line 277, ../scss/style.scss */
#contentSearch article .icon-forward {
  right: 0px;
}
/* line 279, ../scss/style.scss */
#contentSearch article.list {
  border-left: 10px solid #988f8f;
  padding: 10px;
}
/* line 281, ../scss/style.scss */
#contentSearch article.list img {
  float: left;
  margin-right: 10px;
}
/* line 285, ../scss/style.scss */
#contentSearch article.list .rank {
  left: 100px;
}
/* line 287, ../scss/style.scss */
#contentSearch article.list .icon-forward, #contentSearch article.list .rank {
  position: absolute;
  bottom: 8px;
}
/* line 289, ../scss/style.scss */
#contentSearch article.grid {
  float: left;
  padding: 5px;
  margin-right: 10px;
}
/* line 290, ../scss/style.scss */
#contentSearch article.grid .rank, #contentSearch article.grid p, #contentSearch article.grid a h2 {
  display: none;
}
/* line 294, ../scss/style.scss */
#contentSearch article.grid .icon-forward {
  position: absolute;
  bottom: 5px;
}

/********* FAVORIS/PARCOURS **************************/
#lieu-favoris h3, #lieu-parcours h3{
	color: #41afa9;
	border-bottom: 1px solid #5B5050;
}

#lieu-favoris .icon-star, #lieu-parcours .icon-star, #lieu-parcours .icon-pencil{
	display: inline-block;
	color: white;
	font-size: 14px;
	background-color: #5B5050;
	padding: 3px;
}

.button-fav{
	display: inline-block;
	font: 18px roboto;
	color: #e5e5e5; 
	background-color: #41afa9;
	margin: 12px 10px;
}

.button-fav-text{
	display: inline-block;
	width: 80px;
	padding: 0px 20px;
}

#lieu-parcours [data-role="fieldcontain"]{
	width: 200px;
	float: left;
	height: 20px;
}

#lieu-parcours .ui-btn-inner{
	padding: 0;
}

#lieu-parcours .ui-select{
	width: 100%;
}

#lieu-parcours .ui-btn-text{
	background: white;
	font-size: 14px;
	padding: 5px;
	border-radius: 5px;
	width: inherit;
}

#lieu-parcours #textinput{
	font-size: 12px;
	width: 200px;
}

/************************ CONNEXION **************************/

#userAccount input.info-connection {
	background-color : white;
	border-style : none;
}

#userAccount input#userEmail {
	font-style : italic;
	color : grey;
}

#userAccount div#submitConnection a, #userAccount div#submitLogout a {
	display : block;
	height : 25px;
	padding : 5px;
	text-align : center;
	font-family : 'roboto';
	font-size : 1.3em;
	color : white;
	padding-top : 10px;
	margin-bottom : 10px;
}

#userAccount p#messageError{
	display : none;
}

/******************** COMPTE UTILISATEUR *********************/

#userAccount i {
	float : none;
	margin-left : 10px;
	font-size : 1.3em;
}

#userAccount div#password {
	margin-bottom : 15px;
}

#userAccount div#favourites {
	margin-bottom : 50px;
}
