@charset "UTF-8";
/*----------------------- import /settings---------------------------------- */
/* --------------------------------------------------------------------------*/
/* Définition des variables de couleur */
/* définiton des font-face */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format("embedded-opentype"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype"), url("../font/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../font/Roboto-Condensed-webfont.eot");
  src: url("../font/Roboto-Condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Condensed-webfont.woff") format("woff"), url("../font/Roboto-Condensed-webfont.ttf") format("truetype"), url("../font/Roboto-Condensed-webfont.svg#Roboto-Condensed-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*----------------------- RESET CSS ---------------------------------------- */
/* --------------------------------------------------------------------------*/
/* line 43, ../scss/style.scss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
}

/* line 46, ../scss/style.scss */
footer, header, section, nav {
  display: block;
}

/* line 47, ../scss/style.scss */
body {
  line-height: 1.3;
}

/* line 48, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 49, ../scss/style.scss */
a, a:active, a:visited {
  text-decoration: none;
}

/* line 50, ../scss/style.scss */
html, body {
  height: 100%;
}

/*----------------------- CLASSES REUTILISABLES --------- ------------------ */
/* --------------------------------------------------------------------------*/
/* line 54, ../scss/style.scss */
.arrow:after, .active:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 63, ../scss/style.scss */
.shadow {
  -webkit-box-shadow: 5px 5px 10px 0px #e5e5e5;
  -moz-box-shadow: 5px 5px 10px 0px #e5e5e5;
  box-shadow: 5px 5px 10px 0px #e5e5e5;
}

/* line 64, ../scss/style.scss */
.shadow2, .tab-content, #lieu-img, #contentSearch article, .contentResult article {
  -webkit-box-shadow: 5px 5px 10px 0px #d5d5d5;
  -moz-box-shadow: 5px 5px 10px 0px #d5d5d5;
  box-shadow: 5px 5px 10px 0px #d5d5d5;
}

/* line 65, ../scss/style.scss */
.textShadow, .ui-footer i:before {
  text-shadow: 2px -2px 3px rgba(0, 0, 0, 0.3);
}

/* line 66, ../scss/style.scss */
.greyGradient, .active, #tabs {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #988f8f), color-stop(100%, #6c6565));
  background-image: -webkit-linear-gradient(#988f8f, #6c6565);
  background-image: -moz-linear-gradient(#988f8f, #6c6565);
  background-image: -o-linear-gradient(#988f8f, #6c6565);
  background-image: -ms-linear-gradient(#988f8f, #6c6565);
  background-image: linear-gradient(#988f8f, #6c6565);
}

/* line 67, ../scss/style.scss */
.blueGradient, .ui-header, #tabs .active, #triPannel.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5ec0bb), color-stop(50%, #3faea8), color-stop(100%, #29948d));
  background-image: -webkit-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -moz-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -o-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: -ms-linear-gradient(#5ec0bb, #3faea8, #29948d);
  background-image: linear-gradient(#5ec0bb, #3faea8, #29948d);
}

/* line 68, ../scss/style.scss */
.taupeGradient, .ui-footer, .aroundMeTools, .placeMenu {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #837878), color-stop(100%, #393131));
  background-image: -webkit-linear-gradient(#837878, #393131);
  background-image: -moz-linear-gradient(#837878, #393131);
  background-image: -o-linear-gradient(#837878, #393131);
  background-image: -ms-linear-gradient(#837878, #393131);
  background-image: linear-gradient(#837878, #393131);
}

/* line 69, ../scss/style.scss */
.bleu, a, .ui-footer i, h2, .lieu-infos-item {
  color: #41afa9;
}

/*---------------------------- ICONS ----------------------------------------- */
/*-----------------------------------------------------------------------------*/
/* line 75, ../scss/style.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  margin-right: 0.2em;
}

/* line 83, ../scss/style.scss */
.icon-star:before {
  content: '\2605';
  color: #41afa9;
  font-size: 14px;
}

/* line 84, ../scss/style.scss */
.icon-star-empty:before {
  content: '\2606';
}

/* line 85, ../scss/style.scss */
.icon-menu:before {
  content: '\2630';
}

/* line 86, ../scss/style.scss */
.icon-layout:before {
  content: '\268f';
}

/* line 87, ../scss/style.scss */
.icon-cog:before {
  content: '\2699';
}

/* line 88, ../scss/style.scss */
.icon-mail:before {
  content: '\2709';
}

/* line 89, ../scss/style.scss */
.icon-pencil:before {
  content: '\270e';
}

/* line 90, ../scss/style.scss */
.icon-direction:before {
  content: '\27a2';
}

/* line 91, ../scss/style.scss */
.icon-forward:before {
  content: '\27a6';
  color: white;
  background-color: #41afa9;
  padding: 3px 10px;
}

/* line 92, ../scss/style.scss */
.icon-list:before {
  content: '\e005';
}

/* line 93, ../scss/style.scss */
.icon-help-circled:before {
  content: '\e704';
  color: #41afa9;
  font-size: 1.3em;
  margin-right: 1px;
}

/* line 94, ../scss/style.scss */
.icon-info-circled:before {
  content: '\e705';
  color: #41afa9;
  font-size: 1.3em;
  margin: -5px 1px 0 0;
}

/* line 95, ../scss/style.scss */
.icon-tag:before {
  content: '\e70c';
}

/* line 96, ../scss/style.scss */
.icon-comment:before {
  content: '\e718';
}

/* line 97, ../scss/style.scss */
.icon-address:before {
  content: '\e723';
}

/* line 98, ../scss/style.scss */
.icon-location:before {
  content: '\e724';
}

/* line 99, ../scss/style.scss */
.icon-map:before {
  content: '\e727';
}

/* line 100, ../scss/style.scss */
.icon-twitter:before {
  content: '\f309';
  color: #28aae1;
}

/* line 101, ../scss/style.scss */
.icon-facebook:before {
  content: '\f30c';
  color: #3b5998;
}

/* line 102, ../scss/style.scss */
.icon-picture:before {
  content: '\f304';
}

/* line 103, ../scss/style.scss */
.icon-mic:before {
  content: '\f3a4';
}

/* line 104, ../scss/style.scss */
.icon-user:before {
  content: '\f464';
}

/* line 105, ../scss/style.scss */
.icon-doc-text:before {
  content: '\75';
}

/* line 106, ../scss/style.scss */
.icon-search:before {
  content: '\f50d';
}

/* line 107, ../scss/style.scss */
.icon-clock:before {
  content: '\f554';
}

/*------------------------OSSATURE--------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* line 111, ../scss/style.scss */
body {
  background: url(../img/pattern.jpg);
  color: #5b5050;
  font-family: arial;
  font-size: 12px;
}

/* ----------- HEADER  ----------------- */
/* line 119, ../scss/style.scss */
.ui-header {
  border-bottom: 2px solid #2e847f;
}

/* line 124, ../scss/style.scss */
.ui-header a[data-rel='back'] {
  background: url(../img/back.png) no-repeat;
  height: 35px;
  z-index: 1000px;
}

/* ------------- FOOTER -------------- */
/* line 133, ../scss/style.scss */
.ui-footer span {
  text-align: center;
}
/* line 134, ../scss/style.scss */
.ui-footer i {
  font-size: 2.5em;
}

/* line 144, ../scss/style.scss */
.active:after {
  bottom: 100%;
  border-bottom-color: #988f8f;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
/* line 151, ../scss/style.scss */
.active i:before {
  color: #5b5050;
}

/* ------------- CONTENT --------------*/
/* line 155, ../scss/style.scss */
h1, h2, h3 {
  font-family: 'roboto';
  font-weight: normal;
}

/* line 160, ../scss/style.scss */
h1 {
  color: #5b5050;
}

/* line 161, ../scss/style.scss */
h2 {
  border-bottom: 1px solid #5b5050;
  font-size: 17px;
  line-height: 18px;
}

/* line 162, ../scss/style.scss */
h3 {
  font-size: 18px;
  border-bottom: 1px solid #41afa9;
  margin-bottom: 5px;
}

/* ----------------------------- AROUND ME -------------------------------------*/
/* ----------------------------------------------------------------------------- */
/* line 166, ../scss/style.scss */
.aroundMeTools {
  width: 100%;
  margin-top: -1px;
  position: fixed;
  z-index: 1000;
}
/* line 173, ../scss/style.scss */
.aroundMeTools i:before {
  color: #41afa9;
  font-size: 25px;
  margin-left: 10px;
}
/* line 174, ../scss/style.scss */
.aroundMeTools #kms {
  display: none;
}
/* line 175, ../scss/style.scss */
.aroundMeTools .ui-slider {
  background-color: #988f8f;
  border-radius: 10px;
  float: right;
  margin-top: 7px;
  width: 20%;
}
/* line 176, ../scss/style.scss */
.aroundMeTools .ui-slider-bg {
  background-color: #41afa9;
  border-radius: 10px;
}
/* line 177, ../scss/style.scss */
.aroundMeTools span {
  float: right;
  margin-top: 7px;
  color: #e5e5e5;
}

/*------------------------FICHE LIEU--------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* barre du haut-menu */
/* line 183, ../scss/style.scss */
.placeMenu {
  width: 100%;
  margin-top: -1px;
  margin-bottom: 150px;
  position: fixed;
  z-index: 1000;
}
/* line 191, ../scss/style.scss */
.placeMenu i {
  font-size: 1.6em;
}
/* line 192, ../scss/style.scss */
.placeMenu span {
  text-align: center;
}
/* line 193, ../scss/style.scss */
.placeMenu .active:after {
  top: 100%;
  border-top: 10px solid #6c6565;
  border-bottom: 0;
}

/********* DESCRIPTION **************************/
/* tabs */
/* line 201, ../scss/style.scss */
.tab-content {
  background-color: white;
  padding: 10px;
}

/* line 206, ../scss/style.scss */
#tabs {
  margin-bottom: 15px;
  /* tabs active */
}
/* line 210, ../scss/style.scss */
#tabs .active {
  color: #5b5050;
}
/* line 213, ../scss/style.scss */
#tabs .active:after {
  top: 100%;
  border-top: 10px solid #29948d;
  border-bottom: 0;
}
/* line 218, ../scss/style.scss */
#tabs a {
  color: white;
  font-family: 'roboto';
}
/* line 219, ../scss/style.scss */
#tabs span {
  text-align: center;
}

/* classe pour que le contenu soit décalé en haut*/
/* line 223, ../scss/style.scss */
.lieu {
  margin-top: 45px;
}

/* infos lieu */
/* line 226, ../scss/style.scss */
#lieu-img {
  border: 5px solid #fff;
}

/* line 228, ../scss/style.scss */
#lieu-presentation {
  padding-left: 15px;
}
/* line 230, ../scss/style.scss */
#lieu-presentation i {
  font-size: 25px;
  margin-right: 15px;
}
/* line 231, ../scss/style.scss */
#lieu-presentation .icon-facebook:before {
  margin-top: 15px;
}

/* line 234, ../scss/style.scss */
#lieu-categories {
  font-size: 12px;
}

/* line 235, ../scss/style.scss */
#lieu-entete {
  margin-bottom: 15px;
}

/* line 236, ../scss/style.scss */
.lieu-infos-item {
  font-size: 14px;
  font-family: 'roboto';
}

/* line 239, ../scss/style.scss */
#lieu-infos p {
  margin-top: 5px;
}

/* line 241, ../scss/style.scss */
.lieu-commentaire {
  background-color: #e5e5e5;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-left: 5px solid #41afa9;
}

/* line 246, ../scss/style.scss */
.lieu-commentaire-content {
  margin-top: 5px;
}

/*********************** DIRECTIONS *****************************/
/* line 249, ../scss/style.scss */
.directions #tabs {
  margin-top: 15px;
}

/* line 250, ../scss/style.scss */
.directions .tab-content {
  margin-top: 15px;
  color: white;
  padding: 0;
}

/* line 251, ../scss/style.scss */
#map-directions {
  border: 5px solid white;
  width: 98%;
  height: 100px;
  padding: 0 2px;
}

/* line 257, ../scss/style.scss */
.adp-warnbox {
  display: none;
}

/* line 258, ../scss/style.scss */
.adp-placemark {
  background-color: #5b5050;
  color: #41afa9;
  font-weight: bold;
  margin: 0;
}

/* line 259, ../scss/style.scss */
.adp-summary {
  background-color: white;
  color: #5b5050;
}

/* line 260, ../scss/style.scss */
.adp-directions {
  background-color: #988f8f;
  width: 100%;
}

/* line 261, ../scss/style.scss */
.adp-legal {
  font-size: 10px;
  padding: 0 5px;
  margin-top: 0;
  background-color: #d5d5d5;
}

/* line 264, ../scss/style.scss */
.adp-details {
  color: #5b5050;
}

/* line 265, ../scss/style.scss */
.adp-agencies {
  display: none;
}

/********* FAVORIS/PARCOURS **************************/
/* line 269, ../scss/style.scss */
#lieu-favoris h3, #lieu-parcours h3 {
  color: #41afa9;
  border-bottom: 1px solid #5b5050;
}

/* line 274, ../scss/style.scss */
#lieu-favoris .icon-star:before, #lieu-parcours .icon-star:before, #lieu-parcours .icon-pencil:before {
  display: inline-block;
  color: white;
  font-size: 14px;
  background-color: #5b5050;
  padding: 3px;
}

/* line 282, ../scss/style.scss */
.button-fav {
  display: inline-block;
  font: 18px roboto;
  color: #e5e5e5;
  background-color: #41afa9;
  margin: 12px 10px;
  cursor: pointer;
}

/* line 291, ../scss/style.scss */
.button-fav-text {
  display: inline-block;
  width: 60px;
  padding: 0px 20px;
}

/* line 299, ../scss/style.scss */
#lieu-parcours [data-role="fieldcontain"] {
  width: 200px;
  height: 20px;
  float: left;
}
/* line 303, ../scss/style.scss */
#lieu-parcours .ui-btn-inner {
  padding: 0;
}
/* line 304, ../scss/style.scss */
#lieu-parcours .ui-select {
  width: 100%;
}
/* line 305, ../scss/style.scss */
#lieu-parcours .ui-btn-text {
  background: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  width: inherit;
}
/* line 313, ../scss/style.scss */
#lieu-parcours #textinput {
  font-size: 12px;
  width: 200px;
}

/************************ RECHERCHES **************************/
/**************************************************************/
/********************** MENU RECHERCHE ************************/

#menuSearch div#searchBar {
	width : 75%;
	height : 30px;
	margin : auto;
	margin-bottom : 10px;
	margin-top : 5px;
}

#menuSearch input.search-bar {
	padding: 2px 5px;
	width: 85%;
	border : 1px solid #b8bcbf;
	border-right-style : none;
	margin : 0px;
	font-size : 1.1em;
	height : 30px;
	border-radius : 3px;
	font-family : 'roboto';
	color : #5b4e57;
	background-color : white;
	-webkit-box-shadow: 1px 1px 3px 0px #e5e5e5 inset;
	-moz-box-shadow: 1px 1px 3px 0px #e5e5e5 inset;
	box-shadow: 1px 1px 3px 0px #e5e5e5 inset;
}

#menuSearch div#searchBar i.ui-block-a {
	width : 15%;
	float : right;
	background-color : #5b4f4f;
	height : 100%;
	font-size : 1.9em;
	text-align : center;
	color : white;
	padding-left : 2px;
}

#menuSearch div#autocompletion
{
	background-color : white;
	position : absolute;
	z-index : 100;
	padding : 5px;
	padding-top : 0px;
	border : 1px solid #b8bcbf;
	margin-top : -1px;
	border-radius : 3px;
	width : 54%;
	font-family : 'roboto';
	color : #5b4e57;
	font-size : 1.1em;
	font-style : italic;
	-webkit-box-shadow: 1px 1px 3px 0px #e5e5e5 inset;
	-moz-box-shadow: 1px 1px 3px 0px #e5e5e5 inset;
	box-shadow: 1px 1px 3px 0px #e5e5e5 inset;
	display : none;
}

#menuSearch div#autocompletion li {
	border-bottom : 1px solid #e5e5e5;
	padding : 5px;
	padding-top : 7px;
}

#menuSearch div#autocompletion li.last {
	border-style : none;
}

#menuSearch li.list {
	overflow: hidden;
	background-color: #5b4f4f;
	float : left;
	width : 42%;
	height : 135px;
	margin-top : 15px;
	margin-left : 7px;
	margin-right : 25px;
	font-variant : small-caps;
}

#menuSearch li.pair {
	margin-right : 0px;
}

#menuSearch li.list i {
	background-color : #3faea8;
	height : 105px;
	width : 100%;
	margin-top : 0px;
	margin-bottom : 2px;
	font-size : 4.5em;
	text-align : center;
	padding-left : 15px;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#menuSearch li.list a {
	display : block;
	height : 100%;
	width : 100%;
	text-align : center;
	color : white;
	font-size : 1.5em;
	font-weight: normal;
}

/********************** RESULTATS (+parcours)*****************************/
/* line 384, ../scss/style.scss */
#headerSearch, .headerResult {
  margin-top: -10px;
}
/* line 386, ../scss/style.scss */
#headerSearch i:before, .headerResult i:before {
  color: #988f8f;
  font-size: 24px;
}
/* line 387, ../scss/style.scss */
#headerSearch .activeIcon:before, .headerResult .activeIcon:before {
  color: #5b5050;
}
/* line 388, ../scss/style.scss */
#headerSearch .ui-select, .headerResult .ui-select {
  background-color: white;
  padding: 1px 5px;
  width: 100%;
}
/* line 393, ../scss/style.scss */
#headerSearch .select, .headerResult .select {
  width: 55%;
  margin-left: 5%;
  margin-right: 5%;
}
/* line 394, ../scss/style.scss */
#headerSearch .ui-btn-inner, #headerSearch .ui-btn-corner-all, .headerResult .ui-btn-inner, .headerResult .ui-btn-corner-all {
  width: 100%;
  padding: 0;
}
/* line 395, ../scss/style.scss */
#headerSearch #iconControl, .headerResult #iconControl {
  float: right;
}
/* line 396, ../scss/style.scss */
#headerSearch p, .headerResult p {
  color: #41afa9;
  margin-top: 10px;
}
/* line 397, ../scss/style.scss */
#headerSearch div, .headerResult div {
  display: inline-block;
}

/* line 400, ../scss/style.scss */
#contentSearch, .contentResult {
  margin-top: 15px;
}
/* line 402, ../scss/style.scss */
#contentSearch article, .contentResult article {
  background-color: white;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
/* line 408, ../scss/style.scss */
#contentSearch article h2, .contentResult article h2 {
  margin-bottom: 5px;
}
/* line 409, ../scss/style.scss */
#contentSearch article .icon-forward, .contentResult article .icon-forward {
  right: 0px;
}
/* line 411, ../scss/style.scss */
#contentSearch article.list, .contentResult article.list {
  border-left: 10px solid #988f8f;
  padding: 10px;
}
/* line 413, ../scss/style.scss */
#contentSearch article.list img, .contentResult article.list img {
  float: left;
  margin-right: 10px;
}
/* line 417, ../scss/style.scss */
#contentSearch article.list .rank, .contentResult article.list .rank {
  left: 100px;
}
/* line 419, ../scss/style.scss */
#contentSearch article.list .icon-forward, #contentSearch article.list .rank, .contentResult article.list .icon-forward, .contentResult article.list .rank {
  position: absolute;
  bottom: 8px;
}
/* line 421, ../scss/style.scss */
#contentSearch article.grid, .contentResult article.grid {
  float: left;
  padding: 5px;
  margin-right: 10px;
}
/* line 422, ../scss/style.scss */
#contentSearch article.grid .rank, #contentSearch article.grid p, #contentSearch article.grid a h2, .contentResult article.grid .rank, .contentResult article.grid p, .contentResult article.grid a h2 {
  display: none;
}
/* line 426, ../scss/style.scss */
#contentSearch article.grid .icon-forward, .contentResult article.grid .icon-forward {
  position: absolute;
  bottom: 5px;
}

/************************** PARCOURS  ***********************/
/****************************************************************/
/* line 432, ../scss/style.scss */
.headerResult {
  min-height: 64px;
  position: relative;
}
/* line 435, ../scss/style.scss */
.headerResult #nbResultParcours {
  position: absolute;
  top: 40px;
}

/* line 438, ../scss/style.scss */
.contentResult .duration {
  position: absolute;
  bottom: 8px;
  left: 100px;
  color: #41afa9;
}

#triPannel{
	z-index: 10;
	position: absolute;
	top: 35px;
	left: -5px;
	padding: 5px;
	background-color: #41afa9;
}

#triPannel.active:after{
	left: 14%;
	border-width: 8px;
	border-bottom-color: #5ec0bb;
}

#triPannel .triOption{
	position: relative;
	color: white;
	padding: 10px 20px 10px 30px;
}

#triPannel .triOption span:before{
	z-index: 20;
	position: absolute;
	top: 12px;
	left: 8px;
	background-color: white;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	content: " ";
}

#triPannel .triOption.selected span:before{
	background-color: #888;
	border: 2px solid white;
	width: 6px;
	height: 6px;
}


#triPannel.hidden{
	display: none;
}

/************************* USER *********************************/
/****************************************************************/
/************************ CONNEXION **************************/
/* line 448, ../scss/style.scss */
#userAccount input.info-connection {
  background-color: white;
  border-style: none;
}
/* line 456, ../scss/style.scss */
#userAccount #submitConnection a {
  display: block;
  height: 25px;
  padding: 5px;
  text-align: center;
  font-family: 'roboto';
  font-size: 1.5em;
  color: white;
  padding-top: 8px;
  margin-bottom: 10px;
  font-variant : small-caps;
}
/* line 467, ../scss/style.scss */
#userAccount #messageError {
  display: none;
}

/******************** COMPTE UTILISATEUR *********************/

#userAccount h2 {
	font-size : 2.4em;
	padding-bottom : 5px;
	margin-bottom : 10px;
}

#userAccount div.button-param {
	cursor: pointer;
	height : 23px;
	width : 99px;
	background-color: #41afa9;
	margin-top : 7px;
}

#userAccount div.button-param span {
	display : inline-block;
	padding : 2px;
	color: #e5e5e5;
	margin-left : 1px;
	margin-top : 1px;
	font-size : 1.25em;
	font-family: 'roboto';
}

#userAccount div.button-param i.ui-block-a {
	padding : 2px 0px 1px 4px;
	height : 23px;
	width : 24px;
	color : white;
	background-color : #5b5050;
	font-size : 1.3em;
}

#userAccount ul#quickSymbols li {
	float : left;
	background-color : #a29899;
	width : 28%;
	height : 30px;
	margin-right : 8%;
	margin-top : 20px;
	color : white;
	font-size : 2em;
	font-family : 'roboto';
	font-weight : normal;
}

#userAccount ul#quickSymbols li a {
	display : block;
	height : 100%;
	width : 100%;
	color : white;
	text-align : center;
}

#userAccount ul#quickSymbols li i:before, #userAccount ul#quickSymbols li i {
	float : none;
	color : white;
	font-size : 1em;
	margin-left : 8px;
	margin-bottom : 22px;
}

#userAccount ul#quickSymbols li.symbol-favoris {
	background-color: #41afa9;
}

#userAccount ul#quickSymbols li.symbol-comments {
	margin-right : 0px;
	background-color : #5b5050;
}

#userAccount ul#bigSymbols li {
	overflow: hidden;
	background-color: #5b4f4f;
	float : left;
	width : 48%;
	height : 120px;
	margin-top : 22px;
	margin-right : 4%;
	font-variant : small-caps;
}

#userAccount ul#bigSymbols li a {
	display : block;
	height : 100%;
	width : 100%;
	text-align : center;
	color : white;
	font-size : 1.5em;
	font-weight: normal;
}

#userAccount ul#bigSymbols li i {
	background-color : #3faea8;
	height : 94px;
	width : 100%;
	margin-top : 0px;
	margin-bottom : 0px;
	text-align : center;
	padding-left : 15px;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	color : white;
}

#userAccount ul#bigSymbols li i:before {
	color : white;
	font-size : 4em;
}

#userAccount ul#bigSymbols li.big-symbol-parcours {
	margin-right : 0px;
}