/*----------------------- import /settings---------------------------------- */
/* --------------------------------------------------------------------------*/
$experimental-support-for-khtml:false;
@import "compass/css3";

/* Définition des variables de couleur */
$taupe: #5b5050;
$taupeClair:#837878;
$taupeFonce:#393131;
$bleu:#41afa9;
$bleuClair:#5ec0bb;
$bleuFonce:#29948d;
$gris:#988f8f;
$blanc:#fff;

@charset "UTF-8";

/* définiton des font-face */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), 
  	   url("../font/fontello.woff") format('woff'), 
  	   url("../font/fontello.ttf") format('truetype'), 
  	   url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../font/Roboto-Condensed-webfont.eot");
  src: url("../font/Roboto-Condensed-webfont.eot?#iefix") format('embedded-opentype'), 
  	   url("../font/Roboto-Condensed-webfont.woff") format('woff'), 
  	   url("../font/Roboto-Condensed-webfont.ttf") format('truetype'), 
  	   url("../font/Roboto-Condensed-webfont.svg#Roboto-Condensed-webfont") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------------- RESET CSS ---------------------------------------- */
/* --------------------------------------------------------------------------*/
html, body, div, span,h1, h2, h3, h4, h5, h6, p,a,img,ol, ul, li,fieldset, form, label, legend,table, tr, th, td,article, aside, details, figcaption, figure, footer, header, hgroup, nav, section  {
	margin: 0; padding: 0;border: 0;font-size: 100%;vertical-align:baseline;background: transparent;text-align:left;
}
footer,header,section,nav{display:block;}
body { line-height: 1.3;}
ol, ul { list-style: none;}
a,a:active, a:visited{text-decoration:none;}
html,body{height:100%;}

/*----------------------- CLASSES REUTILISABLES --------- ------------------ */
/* --------------------------------------------------------------------------*/
.arrow:after{//pour les triangles
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.shadow{@include single-box-shadow(#d5d5d5, 5px, 5px, 10px, 0px, false);}
.textShadow{@include single-text-shadow(2px, -2px, 3px, rgba(0,0,0,.3));}
.greyGradient{@include background-image(linear-gradient($gris, #6c6565));}
.blueGradient{@include background-image(linear-gradient($bleuClair,#3faea8, $bleuFonce));}
.taupeGradient{ @include background-image(linear-gradient($taupeClair, $taupeFonce));}

/*---------------------------- ICONS ----------------------------------------- */
/*-----------------------------------------------------------------------------*/
@charset "UTF-8";
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style:normal;
  font-weight: normal;
  display: inline-block;
  margin-right: 0.2em;
}

.icon-star:before { content: '\2605';}  
.icon-layout:before { content: '\268f'; }
.icon-menu:before { content: '\2630'; } 
.icon-cog:before { content: '\2699'; } 
.icon-mail:before { content: '\2709'; }
.icon-pencil:before { content: '\270e'; } 
.icon-arrow-combo:before { content: '\e74f'; }
.icon-direction:before { content: '\27a2'; } 
.icon-forward:before { content: '\27a6'; color:$blanc; background-color:$bleu;padding:3px 10px; }
.icon-list:before { content: '\e005'; } 
.icon-trash:before { content: '\e729';}
.icon-help-circled:before { content: '\e704';color:$bleu;font-size:1.3em;margin-right:1px; } 
.icon-info-circled:before { content: '\e705';color:$bleu;font-size:1.3em;margin:-5px 1px 0 0; } 
.icon-tag:before { content: '\e70c'; } 
.icon-comment:before { content: '\e718'; } 
.icon-address:before { content: '\e723'; } 
.icon-location:before { content: '\e724'; } 
.icon-map:before { content: '\e727'; } 
.icon-twitter:before { content: '\f309';color:#28aae1;  } 
.icon-facebook:before { content: '\f30c'; color:#3b5998;} 
.icon-picture:before { content: '\f304'; } 
.icon-user:before { content: '\f464'; } 
.icon-doc-text:before { content: '\f4c4'; } 
.icon-search:before { content: '\f50d'; } 
.icon-clock:before { content: '\f554'; }

/*------------------------OSSATURE--------------------------------------------*/
/*----------------------------------------------------------------------------*/
body{ 
  background:url(../img/pattern.jpg);
  color:$taupe;font-family:arial;font-size:12px;
}
a{color:$bleu;}

/* ----------- HEADER  ----------------- */
.ui-header{
	@extend .blueGradient;
	border-bottom:2px solid #2e847f;
}

.ui-header a[data-rel='back']{
   background:url(../img/back.png) no-repeat;
   height:35px;
   z-index:1000px;
}

/* ------------- FOOTER -------------- */
.ui-footer{
	@extend .taupeGradient;
  span{text-align:center;}
  i{
    color:$bleu;
    font-size: 2.5em;
    &:before{@extend .textShadow;}
  }
}

.active{
  @extend .greyGradient;
  @extend .arrow;
  &:after{
    bottom: 100%;
    border-bottom-color: $gris;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
  }
  i:before{color:$taupe;}
}

/* ------------- CONTENT --------------*/
.ui-content{min-height: 380px;}

h1,h2,h3{
	font-family:'roboto';
  font-weight:normal;
}

h1{color:$taupe;}
h2{color:$bleu;border-bottom:1px solid $taupe;font-size:17px;line-height:18px;}
h3{font-size:18px;border-bottom:1px solid $bleu;margin-bottom:5px;}

/* ----------------------------- AROUND ME -------------------------------------*/
/* ----------------------------------------------------------------------------- */
.aroundMeTools{
  @extend .taupeGradient;
  width:100%;
  margin-top:-1px;
  position:fixed;
  top:35px;
  z-index:10;
  i{padding:5px;}
  i:before{color:$bleu;font-size:25px;margin-left:15px;}
  #kms{display:none;}
  .ui-slider{background-color:$gris;border-radius:10px;float:right;margin-top:7px;width:50%;height:15px;}
  .ui-slider-bg{background-color:$bleu;border-radius:10px;}
  span{float:right;margin-top:7px;color:#e5e5e5;}
}

#filterBox.visible, #sort.visible{display:block;}
#filterBox, #sort{
  @extend .arrow; 
  display:none;
  background-color:$bleu;
  position:absolute;z-index:10;
  &:after{
    bottom: 100%;
    border-width: 10px;margin-left: -10px;
  }
}

#filterBox{
  @extend .shadow;
  width:300px;
  top:80px;left:15px;
  &:after{border-bottom-color: $blanc;left: 5%;}
  .ui-navbar{
    background-color:$blanc;
    a{
      color:$taupe;padding:0px;
      &.active2{color:$bleu;}
      display:inline-block;
    }
    .number{
      color:$blanc;
      @extend .taupeGradient;
      padding:2px 4px;
      font-size:10px;
      margin-left:-5px;
      border-radius:5px;
    }
  }

  section{
    background-color:$bleu;
    padding-left:10px;
    li{
      display:inline-block;
      width:50%; 
      color:$blanc;
    }
    label span{font-size:12px;margin-left:-5px;}
  }
}

input[type="checkbox"] + label::before {
    width:1.5em;height:1.5em;
    border-radius: 5px;top:5px;
}

input[type="checkbox"]:checked + label span.check::before {
    content: '';
    position: absolute;width:0.4em;height:0.9em;
    margin-left:-25px;
    border-bottom: 0.3em solid $gris;
    border-right: 0.3em solid $gris;
    @include rotateZ(45deg);
}

input[type="checkbox"], input[type="radio"] {
  position: absolute;clip: rect(1px, 1px, 1px, 1px);
}

input[type="checkbox"] + label::before,input[type="radio"] + label::before{
  content: '';
  display:inline-block;position: absolute;
  cursor:pointer;vertical-align:middle;
  background:#e5e5e5;
}
//style radio button tri
input[type="radio"] + label::before {
    width:0.9em;height:0.9em;
    border-radius: 0.8em;margin-top:5px;
}

input[type="radio"]:checked + label span.check::before {
    content: '';
    position: absolute;width:0.5em;height:0.5em;
    background:$gris;border-radius:0.8em;
    margin: 8px 0 0 -42px;
}

/*------------------------FICHE LIEU--------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* barre du haut-menu */
.placeMenu{
  @extend .taupeGradient;
  width:100%;
  margin-top:-1px;
  margin-bottom:150px;
  position:fixed;
  top:35px;
  z-index:10;

  i{font-size:1.8em; }
  span{text-align:center;}
  .active:after{
    top: 100%; border-top: 10px solid #6c6565; 
    border-bottom: 0; 
  }
}

/*------------------------------DESCRIPTION----------------------------------*/
/* tabs */
.tab-content{
  background-color:$blanc;
  padding:10px;
  @extend .shadow;
}
#tabs{
  margin-bottom:15px;
  @extend .greyGradient;
  /* tabs active */
  .active{
    @extend .blueGradient;
    color:$taupe;
    &:after{
      top: 100%; border-top: 10px solid $bleuFonce; 
      border-bottom: 0; 
    }
  }
  a{color:$blanc;font-family:'roboto';}
  span{text-align:center;}
}

.lieu{margin-top:45px;}

#lieu-entete{
  img{
    border:5px solid #fff;@extend .shadow;
    max-width:300px; max-height:240px; 
  }
  h2{width:200%;}
}

#lieu-presentation{
  padding-left:15px;
  i{ font-size: 25px; margin-right: 15px;}
  .icon-facebook:before{margin-top:15px;}
}

#lieu-entete{margin-bottom:15px;}
#lieu-infos{
  p{margin-top:5px;}
  span{color:$bleu;font-size:14px;font-family:'roboto';}
}

#commentaires{
  article{
    background-color:#e5e5e5;padding:5px 10px;margin-bottom:10px;
    border-left: 5px solid $bleu;
  }
  p{margin-top:5px;}
  span{color:$bleu;font-weight:bold;}
  .infos, .rank{display:inline-block;}
  .rank{float:right;}
  .icon-star{ font-size:1em;}
}

#lieu-note{
  margin-top:5px; 
  i{
    color:$bleu;
    font-size:1.6em;
    margin:0;padding:0;
    &.grey{color:$gris;}
  }
}

/*---------------------------- DIRECTIONS----------------------------------*/
.directions #tabs{margin-top:15px;}
.directions .tab-content{margin-top:15px;color:$blanc;padding:0;}
#map-directions{
  border:5px solid $blanc;
  width:98%;height:100px;padding:0 2px;
}

//mise en forme de l'itinéraire
.adp-warnbox{display:none;}
.adp-placemark{background-color:$taupe;color:$bleu;font-weight:bold;margin:0;}
.adp-summary{background-color:$blanc;color:$taupe;}
.adp-directions{background-color:$gris;width:100%;}
.adp-legal{font-size:10px;padding:0 5px;margin-top:0;background-color:#d5d5d5;}

//mise en forme itinéraire spécial métro
.adp-details{color:$taupe;}
.adp-agencies{display:none;}

/*---------------------------- COMMENTAIRES -------------------------------*/
#placeComment{
  h2 {margin-bottom : 10px;}
  textarea {border-style : none;margin:20px 0;}
  .ui-input-text{font-family:arial;color:$taupe;font-size:12px;}
  .select{width:15%;padding:0;text-align:center;}
  .ui-select{padding:0;}
  .ui-btn-inner{padding:0.6em 0; left:40%;}
}

.button-param{
  display : inline-block;
  height: 23px;width: 130px;
  background-color: $bleu;
  margin-top: 7px;text-align : center;
  span{
    display: inline-block;
    color: $blanc;
    font-size: 1.5em;font-family: 'roboto'; 
  }
  i.ui-block-a{
    padding: 2px 0px 1px 4px;
    height: 23px;width: 24px;
    color: $blanc;
    background-color:$taupe;
    font-size: 1.3em; 
  }
}

#button-delete-comm{margin-left:15px;}

/*----------------------------- FAVORIS/PARCOURS ---------------------------*/
.button-fav .icon-star:before,.button-fav .icon-pencil:before{
  display: inline-block;
  color:$blanc;background-color: $taupe;
  font-size: 14px;
  padding: 6px;
}

.button-fav{
  display: inline-block;
  font: 16px roboto;
  color: #e5e5e5; background-color: $bleu;
  margin: 10px;
  cursor:pointer;
  &#button-parcours {position: absolute;top: 5px;left: 180px;}
  &#button-parcours-create {position: absolute;top: 105px;left: 180px;}
}


.button-fav-text{
  display: inline-block;
  width: 60px;
  padding: 5px 20px;
}

#container-parcours-add .ui-select {width: 100%;}

#lieu-favoris #info-favoris-add,
#lieu-parcours #info-parcours-add,
#lieu-parcours #info-parcours-create{
  color: $bleu;
  margin: 10px 0px 0px 0px;
}

#lieu-parcours{
  [data-role="fieldcontain"]{
    width: 180px;height:20px;
    display:inline-block;
  }
  .ui-btn-inner{ padding: 0;}
  .ui-btn-text{
    background: $blanc;
    padding: 5px;border-radius: 5px;
  }
  .select{
    margin: 0 auto 0 auto;
    .ui-select{width:90%;}
    i{width:10%;float:right;}
  }
  .textinput{font-size:12px;width: 180px;}
  textarea{margin-top:5px;height:100px;}
  #container-parcours-add,#container-parcours-create{position: relative;}
  #lieu-parcours-create{margin-top: 10px;}
}

/*------------------------------ RECHERCHES --------------------------------*/
/*--------------------------------------------------------------------------*/

/*------------------------------MENU RECHERCHE------------------------------*/
#searchBar{
  width : 75%;
  margin : 5px auto 10px auto;
  i{
    width : 15%;
    padding:2px;
    float : right;
    background-color :$taupe;
    font-size : 1.9em;
    text-align : center;
    color:$blanc;
  }
  input{
    width: 85%;
    margin : 0px;
    color : $taupe; 
  }
  input,#autocompletion{
    padding: 5px;
    border : 1px solid #b8bcbf;
    border-radius : 3px;
    background-color : $blanc;
  }
  #autocompletion{
    position : absolute;
    z-index : 10;
    width : 55%;
    display : none;
    li {
      cursor:pointer;
      border-bottom : 1px solid #e5e5e5;
      padding:5px;
      &.last{border: none;}
    }
  }
}

#menuSearch{
  li.list{
    background-color: $taupe;
    float : left;
    width : 42%;
    height : 135px;
    margin:15px 6% 0 3%;
    font-variant : small-caps;
    i{
      background-color :$bleu;
      width : 100%;
      margin: 0 0 2px 0;
      font-size : 4.5em;
      text-align : center;
      @extend .textShadow;
    } 
    a{
      display : block;
      text-align : center;
      color:$blanc;
      font-size : 1.5em;
    }
  }
  li.pair{margin-right:0;}
}

/*----------------------------------- RESULTATS (+parcours)----------------------------*/
.ui-select{
  background-color:$blanc;
  padding:1px 0;
  display:inline-block;
}
.ui-select{margin-bottom:15px;}
.headerResult{
  i:before{color:$gris;font-size:24px;}
  .activeIcon:before{color:$taupe;}
  .select{
    width:60%; margin: 0 auto 0 auto;
    .ui-select{width:90%;}
    i{width:10%;float:right;}
  }
  .select.hide{display:none;}
  .ui-btn-inner, .ui-btn-corner-all{width:100%;padding:0 0 0 5px;}
  p{color:$bleu;margin-top:10px;}
  p.hide{position:absolute; top:25px;}
  #iconControl{position:absolute;top:0; right:0;}
}
.select i:before{
  background-color:$bleu; color:$blanc;
  text-align:center;font-size:1em;padding:10px 10px 8px 10px;
}

#headerSearch #searchBar{
  width:60%;margin:0 auto 0 auto;
  i,i:before{font-size:1em;color:$blanc;padding:5px;}
  #autocompletion{width:46%;}
}

#sort{
  position:absolute;
  top:38px;left:0px;
  width:250px;padding-left:10px;

  &:after{border-bottom-color: $bleu;left: 10%;}
  label{color:$blanc;}
  .cat{font-size:12px; margin-left:-20px;}
  li{margin-bottom:10px;}
}

.contentResult{
  &.hide{margin-top:0;}
  margin-top:15px;
  article{
    @extend .shadow;
    background-color: $blanc;
    overflow:hidden;
    position:relative;
    margin-bottom:10px;
    h2{margin-bottom:5px;margin-left:140px;}
  }
  article.list{
    border-left:10px solid $gris;
    img{
      float:left;
      margin-right:10px;
    }
    .rank{left:150px;}
    .icon-forward{right:-3px;}
    padding:10px;
    .icon-forward,.rank{position:absolute;bottom:6px;}
  }
  article.grid{
    .rank, p, a h2{display:none;}
    float:left;
    padding:5px 5px 3px 5px;margin-right:10px;
    .icon-forward{position:absolute; bottom:6px;right:3px;}
  }
  img{width:131px; height:105px;}
}

#contentSearch .icon-star, #commentaires .icon-star{
  color:$bleu;
  &.grey{color:$gris;}
}

#contentSearch .icon-star{ font-size:1.5em;}

/*-----------------------------------PARCOURS -------------------------------*/
/*---------------------------------------------------------------------------*/

/*----------------------------------- LISTE ---------------------------------*/
.headerResult{
  min-height: 64px;
  position: relative;
  #nbResultParcours{ position: absolute;top: 40px;}
}

.contentResult .duration{
  position: absolute;bottom: 8px;left: 150px;color:$bleu;
}

/*------------------------------------- PARCOURS MAP --------------------------*/
#manage-parcours{
  position: fixed;top: 40px;right: 20px;
  cursor: pointer;
    &:before{color: $gris;font-size: 24px;}
}

#container-parcours{
  position: absolute;
  left: 0px;
  width: 100%;height: 72%;min-height: 325px;
}

#carroussel-parcours{
  position: absolute;
  left: 2%;bottom: 0px;
  width: 95%; overflow-y: hidden;
}

#carroussel-parcours #container-carroussel{height: 100%;}

#carroussel-parcours{
  .item-carroussel{
    position: relative;
    margin-right: 8px;
    display: inline-block;
    min-width: 100px;
    img{
      border: 4px solid green;
      width: 100px;max-height: 80px;
    }
    i{position: absolute;bottom: 3px;right: -3px;}
    &:first-child .backward-arrow, &:last-child .forward-arrow{display:none}
  }
  .managing-box-item-carroussel {
    display: none;height: 30px;
    background-color:$bleu;
    position: relative;top: 30px;
    span {
      color: $blanc;
      font-size: 25px;margin: 0px 10px;
    }
    .backward-arrow{float: left;cursor:pointer;}
    .forward-arrow{float:right;cursor:pointer}
    i:before{
      position: absolute;top: -30px;left: -64px;
      font-size: 22px;color: $blanc; 
    }
    &.actif{display: block;}
  }
}

/*-------------------------------------- USER -------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*------------------------------------- CONNEXION ---------------------------------*/
#userAccount #messageError{display : none;}

.info-connection, #userParam input {
  background-color : $blanc;
  border-style : none;
}

#userAccount input{color : $taupe;}

::-webkit-input-placeholder {font-style:italic;opacity:0.5;}
:-moz-placeholder {font-style:italic;opacity:0.5;}
::-moz-placeholder {font-style:italic; opacity:0.5;}
:-ms-input-placeholder {font-style:italic;opacity:0.5;}

#submitConnection a, #userParam a{
  display : block;
  height : 25px;
  padding : 5px;
  text-align : center;
  font-family : 'roboto';
  font-size : 1.5em;
  color:$blanc;
  padding-top : 8px;
  margin-bottom : 10px;
  font-variant:small-caps;
}

/*--------------------------------- COMPTE UTILISATEUR ------------------------------*/
#userAccount h2{
  font-size : 2.4em;
  padding-bottom : 5px;margin-bottom : 10px;   
}

#quickSymbols li {
  float:left;
  background-color : $gris;
  width : 28%; height : 30px;
  margin-right : 8%; margin-top : 20px;
  color:$blanc;
  font-size :2em;
  font-family : 'roboto';
  font-weight : normal;
  text-align : center;

  i{
    float : none;
    color:$blanc;
    margin-left : 8px;
    margin-bottom : 22px; 
  }
  &.symbol-favoris{background-color:$bleu;}
  &.symbol-comments{margin-right : 0px;background-color :$taupe;}
} 

#bigSymbols li{
  background-color:$taupe;
  float : left;
  width : 48%;
  height : 120px;
  margin-top : 20px;
  margin-right : 4%;
  font-variant : small-caps;
  a {
    display : block;
    width : 100%;
    text-align:center;
    color:$blanc;
    font-size : 1.5em;
  }
  i{
    background-color :$bleu;
    height : 94px;
    width : 100%;
    margin : 0 auto;
    text-align:center;
    padding-left : 15px;
    @extend .textShadow;
    color:$blanc;
    &:before{
      color:$blanc;
      font-size : 4em; 
    }
  }
  &.big-symbol-parcours{margin-right:0px;}
}

/*----------------------------- PARAMETRES COMPTE UTILISATEUR ---------------------*/
#userParam{
  h2 {margin-bottom : 5px;}
  label {font-weight : bold;margin-bottom : 0px;}
  input { margin-top : 3px;margin-bottom : 5px;}
  a {margin-top : 10px;}
}

/*------------------------------ FAVORIS -----------------------------------------*/
#contentUserFav{
  margin-top:0;
  article + i{display:none;}
}
#headerUserFav{min-height:40px;}
#contentUserFav.manageFav{
 .icon-trash:before{color:$bleu;font-size:1.5em;}
 article + i, article + i:before{
    display:inline-block;
    margin:-25px 0 0 5px;padding:5px;cursor:pointer;
  }
 article{width:90%;display:inline-block;}
 .icon-forward{bottom:0px;}
}

/*---------------------------------MEDIAS QUERIES POUR BUGS ----------------------*/
/*--------------------------------------------------------------------------------*/

/*------------- IPHONES MODE PORTRAIT----------*/
@media only screen and (max-width: 350px) {
  .contentResult{
    .list img{width:90px;}
    .grid img{width:115px;}
    article.list .rank, .duration{left:110px;}
    article h2{margin-left:100px;}
  }
  #menuSearch ul i{padding-left:10%;}
}

/* ------------- DELETE FAV BUG --------------- */
@media only screen and (max-width: 780px) {
  #contentUserFav.manageFav {
    article{width:80%;}
    article + i, article + i:before{
      margin-left:3px;padding:0;
    }
  }
}


@media only screen and (min-width:450px) and (max-width: 780px){
  #contentUserFav.manageFav {
    article + i, article + i:before{
      margin-left:7%;
    }
  } 
}

